{extend name="extend/bootstrap" /}
{block name="content"}
<div class="full-page pricing-page">
    <div class="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="title">WebBug 项目管理系统</h2>
                        <h5 class="description">免费开源的BUG管理系统,使用PHP语言开发.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-pricing card-plain">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-pricing card-raised">
                            <div class="card-content">
                                <h6 class="category">开源免费</h6>
                                <div class="icon icon-rose">
                                    <i class="material-icons">get_app</i>
                                </div>
                                <h3 class="card-title">免费下载</h3>
                                <p class="card-description">

                                </p>
                                <a href="https://github.com/phpzc/WebBug" class="btn btn-rose btn-round" target="_blank">下载</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-pricing card-plain">
                            <div class="card-content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    {include file="public/bootstrap_footer" /}
</div>
{/block}