{extend name="extend/main" /}
{block name="head"}

{/block}
{block name="content"}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="get" action="" class="form-horizontal">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">{:lang('Edit Bug')}</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left">项目名称 </label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" value="{$bug->project->project_name}" readonly>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Bug标题</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" value="{$bug.bug_title}" name="bug_title" >
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 label-on-left"> 模块</label>
                            <div class="col-sm-4">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <select class="selectpicker" data-style="btn btn-primary btn-round" data-size="<?php echo count($module);?>" name="module_id">
                                        {volist name="module" id="item"}

                                        <option value="{$item.id}" <?php if($bug->module_id == $item['id']){ echo "selected";}?> >{$item.module_name}</option>
                                        {/volist}
                                    </select>

                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> 版本</label>
                            <div class="col-sm-4">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <select class="selectpicker" data-style="btn btn-warning btn-round" data-size="<?php echo count($version);?>" name="version_id">
                                        {volist name="version" id="item"}

                                        <option value="{$item.id}" <?php if($bug->version_id == $item['id']){ echo "selected";}?> >{$item.version_name}</option>
                                        {/volist}
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> 优先级</label>
                            <div class="col-sm-2">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <select class="selectpicker" data-style="btn btn-info btn-round" data-size="3" name="priority_status">
                                        <option value="0" <?php if($bug->priority_status == 0 ){ echo "selected";} ?> >低</option>
                                        <option value="1" <?php if($bug->priority_status == 1 ){ echo "selected";} ?>>中</option>
                                        <option value="2" <?php if($bug->priority_status == 2 ){ echo "selected";} ?> >高</option>
                                    </select>

                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 label-on-left">状态 </label>
                            <div class="col-sm-4">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>

                                    <select class="selectpicker" data-style="btn btn-info btn-round" data-size="3" name="bug_status">
                                        <option value="0" <?php if($bug->bug_status == 0 ){ echo "selected";} ?> >未处理</option>
                                        <option value="1" <?php if($bug->bug_status == 1 ){ echo "selected";} ?>>待审核</option>
                                        <option value="2" <?php if($bug->bug_status == 2 ){ echo "selected";} ?> >已解决</option>
                                    </select>

                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-sm-2 label-on-left">描述 </label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <textarea name="bug_content" class="form-control "  cols="100" rows="10" id="bug_content">{$bug.bug_content}</textarea>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 label-on-left"> </label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="button" class="btn btn-success" value="{:lang('Submit')}" id="edit_bug_log">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
<script charset="utf-8" src="/static/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/static/kindeditor/lang/zh-CN.js"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#bug_content', {
            filterMode : true,
            width:'100%',
            height:500
        });
    });
</script>
<script>
    $(function(){

        $('#edit_bug_log').click(function(){

            editor.sync();

            axios.post('/index/bug/edit', {
                bug_content:document.getElementById('bug_content').value,
                id:'{$bug.id}',
                bug_status:$('select[name=bug_status]').val(),
                priority_status:$('select[name=priority_status]').val(),
                module_id:$('select[name=module_id]').val(),
                version_id:$('select[name=version_id]').val(),
                bug_title:$('input[name=bug_title]').val()
            }).then(function (response) {

                swal({
                    title: "提示!",
                    text: response.data.message,
                    timer: 2000,
                    showConfirmButton: false
                }).catch(swal.noop)


            }).catch(function (error) {
                console.log(error);
            });
        });
    });
</script>
{/block}
