{extend name="extend/main" /}
{block name="content"}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="get" action="" class="form-horizontal">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">{:lang('Edit Bug')}</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left">项目名称 </label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" value="{$bug->project->project_name}" readonly>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Bug标题</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" value="{$bug.bug_title}" >
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 label-on-left"> 模块</label>
                            <div class="col-sm-4">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <select class="selectpicker" data-style="btn btn-primary btn-round" data-size="<?php echo count($module);?>" name="module_id">
                                        {volist name="module" id="item"}

                                        <option value="{$item.id}" <?php if($bug->module_id == $item['id']){ echo "selected";}?> >{$item.module_name}</option>
                                        {/volist}
                                    </select>

                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> 版本</label>
                            <div class="col-sm-4">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <select class="selectpicker" data-style="btn btn-warning btn-round" data-size="<?php echo count($version);?>" name="version_id">
                                        {volist name="version" id="item"}

                                        <option value="{$item.id}" <?php if($bug->version_id == $item['id']){ echo "selected";}?> >{$item.version_name}</option>
                                        {/volist}
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> 优先级</label>
                            <div class="col-sm-2">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <select class="selectpicker" data-style="btn btn-info btn-round" data-size="3" name="priority_status">
                                        <option value="0" <?php if($bug->priority_status == 0 ){ echo "selected";} ?> >低</option>
                                        <option value="1" <?php if($bug->priority_status == 1 ){ echo "selected";} ?>>中</option>
                                        <option value="2" <?php if($bug->priority_status == 2 ){ echo "selected";} ?> >高</option>
                                    </select>

                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 label-on-left">状态 </label>
                            <div class="col-sm-4">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>

                                    <select class="selectpicker" data-style="btn btn-info btn-round" data-size="3" name="bug_status">
                                        <option value="0" <?php if($bug->bug_status == 0 ){ echo "selected";} ?> >未处理</option>
                                        <option value="1" <?php if($bug->bug_status == 1 ){ echo "selected";} ?>>待审核</option>
                                        <option value="2" <?php if($bug->bug_status == 2 ){ echo "selected";} ?> >已解决</option>
                                    </select>

                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-sm-2 label-on-left">描述 </label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    {$bug.bug_content}
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
<script>
    $(function(){
        var isRequest = false;

        $('#user_radio_1').click(function () {
            $('#to_other_user').hide();
        });

        $('#user_radio').click(function(){

            $('#to_other_user').removeClass('hide');

            $('#to_other_user').show();

            if(isRequest)
            {

            }else{

                axios.post('/index/bug/project_users', {
                    id:'{$bug.project_id}'
                }).then(function (response) {
                    //拼接select
                    if(response.data.status == 1)
                    {
                        isRequest = true;

                        for(var i =0;i<response.data.data.length;i++)
                        {
                            $('#to_other_user').append('<option value='+response.data.data[i].user_id+'>'+response.data.data[i].username+'</option>');
                        }

                        $('#to_other_user').show();

                    }else{
                        $('#to_other_user').show();
                    }

                }).catch(function (error) {
                    console.log(error);
                });

                $('#to_other_user').show();
            }
        })

        $('#add_bug_log').click(function(){


            var current_user_id = '{$bug.current_user_id}';
            var status = 0;
            if($('#user_radio').is(':checked'))
            {
                current_user_id = $('#to_other_user').val();
            }else{
                // 待审核状态 处理完成
                status = 1;
            }


            axios.post('/index/bug/handle', {
                content:$('input[name=content]').val(),
                bug_id:'{$bug.id}',
                current_user_id:current_user_id,
                status:status
            }).then(function (response) {

                swal({
                    title: "提示!",
                    text: response.data.message,
                    timer: 2000,
                    showConfirmButton: false
                }).catch(swal.noop)

                if(response.data.status == 1)
                {
                    setTimeout(function(){
                        window.location.reload();
                    },2100);

                }

            }).catch(function (error) {
                console.log(error);
            });
        });
    });
</script>
{/block}
