{extend name="extend/main" /}
{block name="content"}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">bug_report</i>
                </div>
                <div class="card-content">
                    <p class="category">待解决</p>
                    <h3 class="card-title">{$bug_count_no}</h3>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="rose">
                    <i class="material-icons">bug_report</i>
                </div>
                <div class="card-content">
                    <p class="category">已解决</p>
                    <h3 class="card-title">{$bug_count_yes}</h3>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">bug_report</i>
                </div>
                <div class="card-content">
                    <p class="category">所有</p>
                    <h3 class="card-title">{$bug_count_all}</h3>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">store</i>
                </div>
                <div class="card-content">
                    <p class="category">项目</p>
                    <h3 class="card-title">{$project_count}</h3>
                </div>

            </div>
        </div>

    </div>
</div>

{/block}