{extend name="extend/main" /}
{block name="content"}
<div class="container-fluid">
    <div class="row">

        <!-- project form -->
        <div class="col-md-12">
            <div class="card">
                <form method="post" action="" class="form-horizontal">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">{:lang('Edit Project')}</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left">{:lang('Project Name')}</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" name="project_name" value="{$project.project_name}" required="true" />
                                    <span class="help-block">{:lang('Project Name')}.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"></label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="button" class="btn btn-success" id="add_project" value="{:lang('Submit')}">

                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>


        <!-- module and version 项目人员 -->
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{:lang('Project Version')}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Name</th>


                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="version" id="item"}

                                <tr>
                                    <td class="text-center">{$item.id}</td>
                                    <td>{$item.version_name}</td>

                                    <td class="td-actions text-right">

                                        <button type="button" rel="tooltip" class="btn btn-success edit_version" data-id="{$item.id}" data-name="{$item.version_name}"  title="修改">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" class="btn btn-danger del_version" data-id="{$item.id}" title="删除">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                {/volist}

                                <tr><td></td><td></td><td><button type="button" rel="tooltip" class="btn btn-success pull-right new_version">
                                    <i class="material-icons">add</i>
                                    {:lang('New Version')}
                                </button></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{:lang('Project Module')}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Name</th>


                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                {volist name="module" id="item"}
                                <tr>
                                    <td class="text-center">{$item.id}</td>
                                    <td>{$item.module_name}</td>

                                    <td class="td-actions text-right">

                                        <button type="button" rel="tooltip" class="btn btn-success edit_module" data-id="{$item.id}" data-name="{$item.module_name}" title="修改">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" class="btn btn-danger del_module" data-id="{$item.id}" title="删除">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                {/volist}

                                <tr><td></td><td></td><td><button type="button" rel="tooltip" class="btn btn-success pull-right new_module">
                                    <i class="material-icons">add</i>
                                    {:lang('New Module')}
                                </button></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 项目人员 -->
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{:lang('Project Users')}</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">User Id</th>
                                    <th>Name</th>


                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="project_user" id="item"}

                                <tr>
                                    <td class="text-center">{$item.user_id}</td>
                                    <td>{$item->user->username}</td>

                                    <td class="td-actions text-right">

                                        <?php if($item['user_id'] != $project['user_id']){ ?>
                                        <button type="button" rel="tooltip" class="btn btn-danger del_project_user" data-id="{$item.user_id}" title="删除">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <?php }else{ ?>
                                        {:lang('Owner')}
                                        <?php } ?>
                                    </td>
                                </tr>
                                {/volist}

                                <tr><td></td><td></td><td><button type="button" rel="tooltip" class="btn btn-success pull-right new_user">
                                    <i class="material-icons">add</i>
                                    {:lang('New User')}
                                </button></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
{/block}
{block name="footer"}
<script>
    $(function () {
        $('#add_project').click(function () {

            axios.post('/index/project/edit', {
                project_name:$('input[name=project_name]').val(),
                id:'{$project.id}'
            }).then(function (response) {
                swal({
                    title: "提示!",
                    text: response.data.message,
                    timer: 2000,
                    showConfirmButton: false
                }).catch(swal.noop)

                if(response.data.status == 1)
                {
                    setTimeout(function(){
                        location.href = '/project/index';
                    },2100);
                }
            })
                .catch(function (error) {
                    console.log(error);
                });

        })


        //修改模块
        $('.edit_module').click(function(){

            var name = $(this).data('name');
            var id = $(this).data('id');

            swal({
                title: '{:lang("Edit Project Module")}',
                html: '<div class="form-group">' +
                '<input id="input-field" type="text" class="form-control text-center" name="module_name" value="'+name+'"/>' +
                '</div>',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function(result) {

                axios.post('/index/project/edit_module', {
                    module_name:$('#input-field').val(),
                    id:id
                }).then(function (response) {

                    swal({
                        type: 1 == response.data.status  ?'success':'error',
                        html: response.data.message,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })

                    if(response.data.status == 1)
                    {
                        setTimeout(function () {
                            window.location.reload()
                        },1500)

                    }
                })
                .catch(function (error) {
                    console.log(error);
                });


            }).catch(swal.noop)
        });

        //修改版本
        $('.edit_version').click(function(){
            var name = $(this).data('name');
            var id = $(this).data('id');

            swal({
                title: '{:lang("Edit Project Version")}',
                html: '<div class="form-group">' +
                '<input id="input-field" type="text" class="form-control text-center" name="version_name" value="'+name+'"/>' +
                '</div>',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function(result) {
                axios.post('/index/project/edit_version', {
                    version_name:$('#input-field').val(),
                    id:id
                }).then(function (response) {

                    swal({
                        type: 1 == response.data.status  ?'success':'error',
                        html: response.data.message,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })

                    if(response.data.status == 1)
                    {
                        setTimeout(function () {
                            window.location.reload()
                        },1500)
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }).catch(swal.noop)
        });

        //删除模块
        $('.del_module').click(function(){

            var id = $(this).data('id');

            swal({
                title: '{:lang("Delete Project Module")}',
                text: 'Are you sure delete it?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, keep it',
                buttonsStyling: false

            }).then(function(result) {
                axios.post('/index/project/del_module', {
                    version_name:$('#input-field').val(),
                    id:id
                }).then(function (response) {

                    swal({
                        type: 1 == response.data.status  ?'success':'error',
                        html: response.data.message,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })

                    if(response.data.status == 1)
                    {
                        setTimeout(function () {
                            window.location.reload()
                        },1500)
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }).catch(swal.noop)
        });


        //删除版本
        $('.del_version').click(function(){
            var id = $(this).data('id');

            swal({
                title: '{:lang("Delete Project Version")}',
                text: 'Are you sure delete it?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, keep it',
                buttonsStyling: false
            }).then(function(result) {
                axios.post('/index/project/del_version', {

                    id:id
                }).then(function (response) {

                    swal({
                        type: 1 == response.data.status  ?'success':'error',
                        html: response.data.message,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })

                    if(response.data.status == 1)
                    {
                        setTimeout(function () {
                            window.location.reload()
                        },1500)
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }).catch(swal.noop)
        });


        //删除项目人员
        $('.del_project_user').click(function(){
            var id = $(this).data('id');

            var target = $(this).parent().parent();

            swal({
                title: '{:lang("Delete Project User")}',
                text: 'Are you sure delete it?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, keep it',
                buttonsStyling: false
            }).then(function(result) {
                axios.post('/index/project/delete_project_user', {

                    user_id:id,
                    project_id:'{$_GET["id"]}'
                }).then(function (response) {

                    swal({
                        type: 1 == response.data.status  ?'success':'error',
                        html: response.data.message,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })

                    if(response.data.status == 1)
                    {
                        target.hide();
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }).catch(swal.noop)
        });



        //新建模块
        $('.new_module').click(function(){

            swal({
                title: '{:lang("New Module")}',
                html: '<div class="form-group">' +
                '<input id="input-field" type="text" class="form-control text-center" name="module_name" value=""/>' +
                '</div>',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function(result) {
                axios.post('/index/project/add_module', {
                    module_name:$('#input-field').val(),
                    project_id:'{$project.id}'
                }).then(function (response) {

                    swal({
                        type: 1 == response.data.status  ?'success':'error',
                        html: response.data.message,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })

                    if(response.data.status == 1)
                    {
                        setTimeout(function () {
                            window.location.reload()
                        },1500)
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }).catch(swal.noop)
        });

        //新建版本
        $('.new_version').click(function(){

            swal({
                title: '{:lang("New Version")}',
                html: '<div class="form-group">' +
                '<input id="input-field" type="text" class="form-control text-center" name="version_name" value=""/>' +
                '</div>',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function(result) {
                axios.post('/index/project/add_version', {
                    version_name:$('#input-field').val(),
                    project_id:'{$project.id}'
                }).then(function (response) {

                    swal({
                        type: 1 == response.data.status  ?'success':'error',
                        html: response.data.message,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })

                    if(response.data.status == 1)
                    {
                        setTimeout(function () {
                            window.location.reload()
                        },1500)
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }).catch(swal.noop)
        });


        //添加新人员
        $('.new_user').click(function(){

            axios.post('/index/project/find_project_can_add_user', {
                id:'{$project.id}'
            }).then(function(response){

                var str='';

                if(1 == response.data.status)
                {
                    for(var i =0;i<response.data.data.length;i++)
                    {
                        str += '<label style="margin: 5px;"><input type="checkbox" name="user_id[]" checked value="'+response.data.data[i].id+'">'+response.data.data[i].username+'</label>';
                    }
                }


                swal({
                    title: '{:lang("New User")}',
                    html: '<div class="form-group"><label class="col-sm-2 label-on-left">请选择用户</label><div class="col-sm-10 text-left"><div class="checkbox checkbox-inline">' +
                    str +
                    '</div></div></div>',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function(result) {

                    var value =[];
                    $('input[name="user_id[]"]:checked').each(function(){
                        value.push($(this).val());
                    });

                    axios.post('/index/project/add_project_user', {
                        "user_ids":value,
                        project_id:'{$project.id}'
                    }).then(function (response) {

                        swal({
                            type: 1 == response.data.status  ?'success':'error',
                            html: response.data.message,
                            confirmButtonClass: 'btn btn-success',
                            buttonsStyling: false

                        })

                        if(response.data.status == 1)
                        {
                            setTimeout(function () {
                                window.location.reload()
                            },1500)
                        }
                    }).catch(function (error) {
                            console.log(error);
                    });

                }).catch(swal.noop)


            }).catch(function (error) {
                console.log(error);
            })

        });



    });
</script>
{/block}