{extend name="extend/bootstrap" /}
{block name="content"}
<div class="full-page login-page" filter-color="black">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <form id="LoginValidation" class="form" method="" action="">
                        <div class="card card-login card-hidden">
                            <div class="card-header text-center" data-background-color="rose">
                                <h4 class="card-title">{:lang('Login')}</h4>
                                <div class="social-line">

                                    <a href="javascript:alert('暂未开放');" class="btn btn-just-icon btn-simple">
                                        <i class="fa fa-github"></i>
                                    </a>

                                </div>
                            </div>

                            <div class="card-content">
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">{:lang('Username')}</label>
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                </div>

                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">{:lang('Password')}</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">

                                <input class="btn btn-primary btn-round" id="login" type="button" value="{:lang('Login')}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {include file="public/bootstrap_footer" /}
</div>
{/block}
{block name="footer"}
<script>

    function setFormValidation(id) {
        $(id).validate({
            errorPlacement: function(error, element) {
                $(element).closest('div').addClass('has-error');
            }
        });
    }

    $(document).ready(function() {
        setFormValidation('#LoginValidation');
    });


    $(function () {
        $('#login').click(function () {
            $.post('/auth/login',{
                username:$('input[name=username]').val(),
                password:$('input[name=password]').val(),
            },function(data){
                if(data.status ==1)
                {
                    location.href=data.data.url;
                }else{

                    swal({
                        title: "提示!",
                        text: data.message,
                        timer: 2000,
                        showConfirmButton: false
                    }).catch(swal.noop)
                }
            },'json');
        });
    });
</script>
{/block}