{extend name="extend/bootstrap" /}
{block name="content"}
<div class="full-page register-page" filter-color="black" >
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card card-signup">
                    <h2 class="card-title text-center">Register</h2>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="card-content">

                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="material-icons">code</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Welcome to use WebBug</h4>
                                        <p class="description">
                                            You can see this project in GitHub.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-5">

                            <form class="form" method="" action="">
                                <div class="card-content">
                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">face</i>
                                                        </span>

                                        <input type="text" class="form-control" placeholder="User Name...">

                                    </div>
                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">email</i>
                                                        </span>
                                        <input type="text" class="form-control" placeholder="Email...">
                                    </div>
                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">lock_outline</i>
                                                        </span>
                                        <input type="password" placeholder="Password..." class="form-control" />
                                    </div>

                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">image</i>
                                                        </span>
                                        <input type="text" placeholder="Code..." class="form-control" />


                                        {:captcha_img_strong('','',['width'=>100,'height'=>40])}
                                    </div>

                                </div>
                                <div class="footer text-center">
                                    <a href="register.html#pablo" class="btn btn-primary btn-round">Get Started</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public/bootstrap_footer" /}
</div>
{/block}